---
import type { CollectionEntry } from 'astro:content'
import { Icon } from 'astro-icon'
import { clsx } from '../services/classname.service'

interface Props {
    problem: CollectionEntry<'problems'>
}
const { problem } = Astro.props
const { data, render } = problem
const { Content } = await render()
---

<div
    class="fade-in border border-red-400 bg-red-50 text-red-900 p-4 w-full max-w-[900px] mx-auto"
>
    <div class="flex gap-4 items-center mb-1">
        <Icon name={data.icon} class={clsx('w-16', data.class)} />
        <h3 class={data.class}>{data.heading}</h3>
    </div>
    <Content />
</div>
